body {
    font-family: 'Lato';
}
h2,
h3,
.card-body > .card-title {
    font-family: 'Lato';
}

.card-title {
    font-weight: 500;
    font-size: 1rem;
}

.card-header {
    background-color: #00686f;
}

.card-img-overlay .card-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}

.site-footer {
    padding: 10px 0;
    margin-top: 1rem;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    transition: font-size 1s;
}
  
.nav-link:hover {
    font-size: 22px;
}

.navbar-brand {
    max-width: 4rem;
    margin-right: 2rem;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    max-width: 4rem;
}

.navbar-dark {
    background-color: #901cad;
    background-image: linear-gradient(to right, #E27D5F, #ed6338);
    margin-bottom: 2rem;
    min-height: 6rem;
}

.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
}

.trail {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ed6338;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255))
  }

  #cardStyle {
    background-color: #E8A87C;
  }

  #backgroundStyle {
    background-color: #901cad;
    background-image: linear-gradient(to right, #83C7C2, #7DC2AD);
  }

  #nameStyle {
    font-size: 60px;
    font-weight:  bold;  
    font-family: Arial, Helvetica, sans-serif;
    color: #ed6338;
}

#icons {
    height: 200px;
    width: 200px;
}